html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Indie Flower", "Jura", sans-serif;
}

#wrapper {
  width: 100%;
  height: 100%;
  background-color: #282828;
  color: #dbdbdb;
  font-size: 20px;
}

#body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#info {
  display: block;
}

#pic {
  height: 150px;
  width: 150px;
  border-radius: 75px;
  border: 2px solid #dbdbdb;
  background: url("../images/profile.jpg") no-repeat;
  background-size: 165px;
  margin: 0 auto;
}

#my_name {
  text-align: center;
  margin: 10 auto;
  font-size: 42px;
}

#about {
  text-align: center;
  margin: 10 auto;
}

#social {
  margin: 10 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn, .btn:active, .btn:hover, .btn:invalid, .btn:visited {
  text-decoration: none;
  color: #dbdbdb;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  padding: 5px;
}

#footer {
  text-align: center;
  bottom: 0;
  margin: 0;
  position: absolute;
  width: 100%;
}

a, a:visited, a:active, a:default, a:invalid {
  text-decoration: none;
  color: #dbdbdb;
}

a:hover {
  text-decoration: underline;
  color: #dbdbdb;
}
