@import url('https://fonts.googleapis.com/css?family=Ubuntu');

:root {
  --color-dark: #282828;
  --color-light: #dbdbdb;
}
html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
  background-color: var(--color-dark);
  overflow: hidden;
}
#wrapper {
  width: 100%;
  height: 100%;
  background-color: var(--color-dark);
  color: var(--color-light);
  font-size: 0.95em;
}
@media (min-width: 768px) {
  #wrapper {
    font-size: 1.125em;
  }
}
#body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
#info {
  display: block;
}
#pic {
  height: 150px;
  width: 150px;
  border-radius: 75px;
  border: 2px solid var(--color-light);
  background: url("../images/profile.jpg") no-repeat;
  background-size: 165px;
  margin: 0 auto;
}
#my_name {
  text-align: center;
  margin: 10 auto;
  font-size: 2.5em;
}
#about {
  text-align: center;
  margin: 10 auto;
}
#social {
  margin: 10 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-social {
  font-size: 1.4em;
  text-decoration: none;
  color: var(--color-light);
  border: 1px solid var(--color-light);
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  text-align: center;
  box-shadow: 0 0 10px #dbdbdb00;
  -webkit-transition: box-shadow 250ms ease;
  -moz-transition: box-shadow 250ms ease;
  -ms-transition: box-shadow 250ms ease;
  -o-transition: box-shadow 250ms ease;
  transition: box-shadow 250ms ease;
}
.btn-social:hover {
  box-shadow: 0 0 10px #dbdbdbff;
}
#footer {
  text-align: center;
  bottom: 0;
  margin: 0;
  position: absolute;
  width: 100%;
}
.location-link {
  text-decoration: none;
  color: var(--color-light);
  border-bottom: 1px solid #dbdbdb00;
  -webkit-transition: border 250ms ease;
  -moz-transition: border 250ms ease;
  -ms-transition: border 250ms ease;
  -o-transition: border 250ms ease;
  transition: border 250ms ease;
}
.location-link:hover {
  border-bottom: 1px solid #dbdbdbff;
}
