@import url('https://fonts.googleapis.com/css?family=Ubuntu');

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
  background-color: #282828;
  overflow: hidden;
}

#wrapper {
  width: 100%;
  height: 100%;
  background-color: #282828;
  color: #dbdbdb;
  font-size: 18px;
}

#body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#info {
  display: block;
}

#pic {
  height: 150px;
  width: 150px;
  border-radius: 75px;
  border: 2px solid #dbdbdb;
  background: url("../images/profile.jpg") no-repeat;
  background-size: 165px;
  margin: 0 auto;
}

#my_name {
  text-align: center;
  margin: 10 auto;
  font-size: 38px;
}

#about {
  text-align: center;
  margin: 10 auto;
}

#social {
  margin: 10 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn, .btn:active, .btn:hover, .btn:invalid, .btn:visited {
  text-decoration: none;
  color: #dbdbdb;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  padding: 5px;
}

.btn-social, .btn-social:active, .btn-social:hover, .btn-social:invalid, .btn-social:visited {
  text-decoration: none;
  color: #dbdbdb;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  padding: 5px;
}

.btn-social:hover {
  box-shadow: 0 0 10px #dbdbdb;
}

#social .btn-social {
  /*
  width: 18px;
  height: 18px;
  text-align: center;
  */
  font-size: 24px;
}

#footer {
  text-align: center;
  bottom: 0;
  margin: 0;
  position: absolute;
  width: 100%;
}

a, a:visited, a:active, a:default, a:invalid {
  text-decoration: none;
  color: #dbdbdb;
}

a:hover {
  text-decoration: underline;
  text-shadow: 0 0 10px #dbdbdb;
  color: #dbdbdb;
}
