@import url('https://fonts.googleapis.com/css?family=Nunito:300,400&subset=latin-ext');

body {
	margin: 0;
	font-family: 'Nunito', sans-serif;
}
h1 {
	font-size: 3em;
}
h3 {
	font-size: 1.6em;
}
h4 {
	font-size: 1.4em;
}
h5 {
	font-size: 1.2em;
}
@media screen and (max-width: 767px) {
	h1 {
		font-size: 2em;
	}
	h5 {
		font-size: 1.1em;
	}
}
#splash {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	background: #1f1f1f;
	color: #e6e6e6;
}
#wavy-below-splash {
	height: calc(100vw / 7);
	width: 100%;
	background: #1f1f1f;
}
#wavy-bg {
	height: calc(100vw / 7);
}
@media screen and (max-width: 767px) {
	#wavy-below-splash {
		height: calc(100vw / 7);
	}
	#wavy-bg {
		height: calc(100vw / 7);
	}
}
#body {
	min-height: 100px;
	width: 100%;
	background: #fff;
	margin-top: 10%;
	margin-bottom: 10%;
}
#profile-picture {
	height: 250px;
	width: 250px;
	border-radius: 50%;
	background: url("../images/newprofile.png") no-repeat;
	background-size: 250px;
	margin: 0 auto;
}
.about-paragraph {
	font-size: 1.2em;
}
.pinned-repo-title {
	display: inline-block;
}
.language-pill {
	display: inline-block;
	max-width: auto;
	border-radius: 5px;
	padding: 2px 5px;
}
.container {
	width: 70%;
	margin: 0 auto;
}
.row {
	display: flex;
}
.column {
	flex: 1;
}
@media screen and (max-width: 767px) {
	.container {
		width: 90%;
	}
	.row {
		display: block;
	}
}
footer {
	height: 300px;
	width: 100%;
	background: #e6e6e6;
	font-size: 1.1em;
	font-weight: 300;
	display: flex;
	justify-content: center;
	align-items: center;
}
footer #footer-data {
	height: 50%;
	width: 50%;
	position: relative;
}
footer #footer-data #footer-license {
	position: absolute;
	bottom: 0;
}
@media screen and (max-width: 767px) {
	footer #footer-data {
		width: 90%;
	}
}
.link {
	border-bottom: 1px solid #0000ff00;
	-webkit-transition: border 250ms ease;
	-moz-transition: border 250ms ease;
	-ms-transition: border 250ms ease;
	-o-transition: border 250ms ease;
	transition: border 250ms ease;
	text-decoration: none;
	color: blue;
}
.link:hover {
	color: blue;
	border-bottom: 1px solid #0000ffff;
}
.link:visited {
	color: blue;
}
.dark-link {
	border-bottom: 1px solid #00000000;
	color: black;
}
.dark-link:hover {
	color: black;
	border-bottom: 1px solid #000000ff;
}
.dark-link:visited {
	color: black;
}