@font-face {
	font-family: "LocalFont";
	src: url(font.ttf) format("truetype");
}

html, body {
	font-family: Arial;
	font-size: 16px;
	margin: 0px 0px 0px 0px;/*
	background-color: rgb(86, 86, 86);*/
	background-image: url("background.jpg");
	background-size: cover;
  background-attachment: fixed;
	color: rgb(222, 222, 222);
	width: 100%;
}

div.content {
	height: 100%;
	width: 60%;
	position: relative;
	top: 10px;
	left: 20%;
	display: none;
}

div.header {
	width: 100%;/*
	background-color: rgb(33, 33, 33);
	opacity: 0.7;*/
	box-shadow: 0px 1px rgb(222, 222, 222);
}

iframe.header_frame {
	width: 100%;
	box-shadow: 0px 1px rgb(222, 222, 222);
	border: 0;
}

div.body {
	width: 100%;
	/*display: block;*/
	min-height: 100%;
	/*margin-bottom: -72px;*/
}

div.footer {
	display: block;
	width: 100%;
	height: 72px;
	box-shadow: 0px -1px rgb(222, 222, 222);
	/*
	position: absolute;
	bottom: 0px;*/
}

p.code_box {
	background-color: rgb(40, 40, 40);
	color: rgb(200, 200, 200);
	font-family: monospace;
	font-size: 14px;
	white-space: pre-line;
	border-radius: 5px 5px 5px 5px;
	width: 500px;
	display: block;
	padding: 10px 10px 10px 10px;
}

h1.pg_title {
	display: inline-block;
	font-size: 34px;
	font-weight: normal;
	padding-left: 10px;
}

table.menu_table {
	display: inline-block;
	float: right;
	position: relative;
	margin-top: 30px;
}

img.photoFrame {
	border-radius: 5px 5px 5px 5px;
}

img.photoFrame:after {
	box-shadow: inset 0 0 10px rgb(0, 0, 0, 0.5);
}

a.btn, a.btn:link, a.btn:visited, a.btn:active {
	text-decoration: /* underline */ none;/*
	background-color: rgb(222, 222, 222);*/
	border: 1px solid rgb(222, 222, 222);
	border-radius: 2px;
	color: rgb(222, 222, 222);
	display: inline-block;
	width: 70px;
	text-align: center;
}

a.btn:hover {
	text-decoration: none;/*
	background-color: rgb(200, 200, 200);*/
	box-shadow: 0 0 10px rgb(222, 222, 222);
	color: rgb(222, 222, 222);
	display: inline-block;
	width: 70px;
	text-align: center;
}

a, a:link, a:visited, a:active {
	text-decoration: underline;
	color: rgb(222, 222, 222);
}

a:hover {
	text-decoration: none;
	color: rgb(222, 222, 222);
}
/*
a.emailMe_btn, a.emailMe_btn:link, a.emailMe_btn:visited, a.emailMe_btn:active {
	text-decoration: none;
	border-radius: 2px;
	padding: 2px 2px 1px 2px;
	background-color: rgb(222, 222, 222);
	color: rgb(0, 0, 0);
	display: inline-block;
	text-align: center;
	width: 80px;
}

a.emailMe_btn:hover {
	text-decoration: none;
	border-radius: 2px;
	padding: 2px 2px 1px 2px;
	background-color: rgb(200, 200, 200);
	box-shadow: 0 0 10px rgb(200, 200, 200);
	color: rgb(0, 0, 0);
	display: inline-block;
	text-align: center;
	width: 80px;
}*/
