html, body {
	font-family: consolas;
	font-size: 16px;
	margin: 0px 0px 0px 0px;
	background-color: rgb(234, 234, 234);
	color: black;
}

body {
	width: 100%;
}

div.content {
	width: 100%;
	height: 100%;
	background-color: rqb(234, 234, 234);
	color: black;
}






h1.pg_title {
	position: relative;
	top: 10px;
	left: 10px;
}

table.menu_table {
	position: relative;
	top: 10px;
	right: 10px;
}

a.btn_link, a.btn_link:link, a.btn_link:visited, a.btn_link:active {
	text-decoration: underline;
	color: black;
}

a.btn_link:hover {
	text-decoration: none;
	color: black;
}

a, a:link, a:visited, a:active {
	text-decoration: underline;
	color: black;
}

a:hover {
	text-decoration: none;
	color: black;
}