html, body {
	font-family: consolas;
	font-size: 16px;
	margin: 0px 0px 0px 0px;
	background-color: rgb(234, 234, 234);
	color: black;
}







table.menu_table {
	cellpadding: 5px;
	border: 1px;
}

a.btn_link, a.btn_link:link, a.btn_link:visited, a.btn_link:active {
	text-decoration: underline;
	color: black;
}

a.btn_link:hover {
	text-decoration: none;
	color: black;
}