html, body {
	font-family: consolas;
	font-size: 16px;
	margin: 0px 0px 0px 0px;
	background-color: rgb(234, 234, 234);
	color: black;
}

body {
	width: 100%;
}

div.content {
	height: 100%;
	width: 50%;
	position: relative;
	top: 0px;
	left: 25%;
}

div.header {
	width: 100%;
}

div.body {
	width: 100%;
}

h1.pg_title {
	display: inline-block;
}

table.menu_table {
	display: inline-block;
	float: right;
	position: relative;
	top: 25px;
}





a.btn_link, a.btn_link:link, a.btn_link:visited, a.btn_link:active {
	text-decoration: /* underline */ none;
	color: black;
	border: 1px solid black;
	border-radius: 2px;
}

a.btn_link:hover {
	text-decoration: none;
	color: black;
}

a, a:link, a:visited, a:active {
	text-decoration: underline;
	color: black;
}

a:hover {
	text-decoration: none;
	color: black;
}